PUID=1000
PGID=1000
TZ=Europe/Athens

# Media & storage paths
TVSHOWS_PATH=/mnt/ssd/series
ANIME_PATH=/mnt/ssd/anime
MOVIES_PATH=/mnt/nvme/Movies/complete
MUSIC_PATH=/mnt/nvme/Zatsando/Music
AUDIOBOOKS_PATH=/mnt/nvme/Zatsando/AudioBooks
PHOTOS_PATH=/mnt/nvme/Camera Uploads
DOWNLOADS_PATH=/mnt/nvme/Downloads
FILEBROWSER_ROOT=/

# Pinepods credentials
PINEPODS_DB_USER=postgres
PINEPODS_DB_PASSWORD=your_secure_password
PINEPODS_DB_NAME=pinepods_database
PINEPODS_USERNAME=your_username
PINEPODS_PASSWORD=your_secure_password
PINEPODS_FULLNAME=Your Name
PINEPODS_EMAIL=you@example.com
PINEPODS_HOSTNAME=https://your-domain.com

# Owncast stream key
OWNCAST_STREAM_KEY=your_stream_key
