version: "3.8"

services:
  gitea:
    container_name: gitea
    image: docker.gitea.com/gitea:latest
    ports:
      - "3000:3000"
      - "2222:22"
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - nginx_network

  filebrowser:
    container_name: filebrowser
    image: hurlenko/filebrowser
    user: "1000:1000"
    ports:
      - "8181:8080"
    volumes:
      - /:/data
      - ./filebrowser/config:/config
    restart: always
    networks:
      - nginx_network

  nginxproxymanager:
    container_name: nginxproxymanager
    image: jc21/nginx-proxy-manager:latest
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
    restart: always
    networks:
      - nginx_network

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - nginx_network

  nextcloud:
    container_name: nextcloud
    image: lscr.io/linuxserver/nextcloud:latest
    ports:
      - "8080:80"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Athens
    volumes:
      - ./nextcloud/appdata:/config
      - ./nextcloud/data:/data
      - /mnt/$YOURDRIVE/Camera Uploads:/photos
    restart: always
    networks:
      - nginx_network

  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:latest
    ports:
      - "8096:8096"
      - "8920:8920"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Athens
    volumes:
      - ./jellyfin/config:/config
      - /mnt/$YOURDRIVE2/series:/data/tvshows
      - /mnt/$YOURDRIVE2/anime:/data/anime
      - /mnt/$YOURDRIVE/Movies/complete:/data/movies
    restart: always
    networks:
      - nginx_network

  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    ports:
      - "4533:4533"
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
    volumes:
      - ./navidrome/data:/data
      - /mnt/$YOURDRIVE/$YOURPATH/Music:/music:ro
    restart: always
    networks:
      - nginx_network

  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf
    ports:
      - "13378:80"
    volumes:
      - /mnt/$YOURDRIVE/$YOURPATH/AudioBooks:/audiobooks
      - ./audiobookshelf/podcasts:/podcasts
      - ./audiobookshelf/metadata:/metadata
      - ./audiobookshelf/config:/config
    restart: always
    networks:
      - nginx_network

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Athens
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    volumes:
      - ./transmission/data:/config
      - /mnt/$YOURDRIVE/Movies:/downloads
      - ./transmission/watch:/watch
    restart: always
    networks:
      - nginx_network

  deemix:
    container_name: deemix
    image: registry.gitlab.com/bockiii/deemix-docker
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
    ports:
      - "6595:6595"
    volumes:
      - /mnt/$YOURDRIVE/$YOURPATH/Music:/downloads
      - ./deemix/config:/config
    restart: always
    networks:
      - nginx_network

  pigallery2:
    container_name: pigallery2
    image: bpatrik/pigallery2
    ports:
      - "8082:80"
    environment:
      - NODE_ENV=production
    volumes:
      - /mnt/$YOURDRIVE/Camera Uploads:/app/data/photos
      - ./pigallery2/config:/app/data/config
    restart: always
    networks:
      - nginx_network

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    ports:
      - "8123:8123"
    volumes:
      - homeassistant_config:/config
    restart: always
    networks:
      - nginx_network

  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    ports:
      - "9445:80"
    volumes:
      - ./bitwarden:/data
    restart: always
    networks:
      - nginx_network

  pinepods-db:
    container_name: pinepods-db
    image: postgres:17
    environment:
      POSTGRES_DB: pinepods_database
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: myS3curepass
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./pinepods/pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: always
    networks:
      - nginx_network

  pinepods-valkey:
    container_name: pinepods-valkey
    image: valkey/valkey:8-alpine
    ports:
      - "6378:6379"
    restart: always
    networks:
      - nginx_network

  pinepods:
    container_name: pinepods
    image: madeofpendletonwool/pinepods:latest
    ports:
      - "8040:8040"
    environment:
      HOSTNAME: 'http://localhost:8040'
      SEARCH_API_URL: 'https://search.pinepods.online/api/search'
      PEOPLE_API_URL: 'https://people.pinepods.online'
      DB_TYPE: postgresql
      DB_HOST: pinepods-db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: myS3curepass
      DB_NAME: pinepods_database
      VALKEY_HOST: pinepods-valkey
      VALKEY_PORT: 6379
      PUID: 1000
      PGID: 1000
      TZ: "Europe/Athens"
      USERNAME: pinepods
      PASSWORD: password
      FULLNAME: John Pinepods
      EMAIL: john@pinepods.com
    volumes:
      - ./pinepods/downloads:/opt/pinepods/downloads
      - ./pinepods/backups:/opt/pinepods/backups
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    depends_on:
      - pinepods-db
      - pinepods-valkey
    restart: always
    networks:
      - nginx_network

  jdownloader-2:
    container_name: jdownloader-2
    image: jlesage/jdownloader-2
    ports:
      - "5800:5800"
    volumes:
      - ./jdownloader/config:/config
      - /mnt/$YOURDRIVE/Downloads:/output
    restart: always
    networks:
      - nginx_network

volumes:
  homeassistant_config:

networks:
  nginx_network:
    driver: bridge
